<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mySingletonBean" class="com.example.config.MySingletonBean" scope="singleton"/>
    <bean id="myPrototypeBean" class="com.example.config.MyPrototypeBean" scope="prototype"/>

</beans>